.cars-container {
  padding: 20px;
  margin: 0 auto;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filters {
  margin-top: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .reset-button {
    background-color: transparent;
    border: none;
    color: #dc3545;
    cursor: pointer;
  }
  
  .results-button {
    display: flex;
    align-items: center;
    background-color: #007870;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
.cars_link{
    color: #283844;;
}
.title{
    color:#007870 ;
     margin-top: 25px;
}
