// registr.scss

.registration-container {
  position: relative;
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
  margin-top: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #027b9a;
}

.registration-header {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.registration-form {
  display: flex;
  flex-direction: column;

  .registration-input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
    }
  }

  .registration-button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #027b9a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    &:hover {
      background-color: #0056b3;
    }
  }
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #027b9a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #0056b3;
  }
}
